:root {
  --white: #ffffff;
  --off-white: #e5e5e5;
  --transp-white-1: rgba(255, 255, 255, 0.25);
  --transp-white-2: rgba(255, 255, 255, 0.18);
  --blue-1: #62b8f5;
  --blue-2: #4475ef;
  --shadow: rgba(3, 46, 87, 0.2);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  margin: 0;
  min-height: 100vh;
  background-image: url('https://dam.destination.one/819700/7f8eb604d54522ffd26daa6d6402474dc311b6eccbed615f54dc43e83e6e111c/innenstadt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HEADINGS */
h1 {
  text-align: center;
  color: rgb(5, 41, 51);
  margin-bottom: 15px;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

/* FORM */
form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
}

input::placeholder {
  color: #ccc;
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid #04009A;
  cursor: pointer;
  transition: 0.3s;
  color: var(--blue-2);
  background-color: transparent;
  border-radius: 0.3em;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: rgb(5, 41, 51);
  color: #fff;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  border: 2px solid var(--transp-white-2);
  border-radius: 10px;
  color: rgb(5, 41, 51);
}

/* WEATHER SECTION */
.weather {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

/* LEFT PANEL */
.left {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  text-align: center;
}

/* RIGHT PANEL */
.right {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  padding: 1rem;
}

/* ICON */
.icon {
  height: auto;
  padding: 0.5rem;
}

/* CONDITION */
.condition {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* TEXT ALIGNMENTS */
.temp {
  margin-top: 10px;
}

.city {
  margin-top: 5px;
}


@media (max-width: 1000px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 700px) {

  .weather {
    flex-direction: column;
  }

  .container {
    width: 95%;
    padding: 1.5rem;
    text-align: center;
  }

  form {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}